name: Publish Docker Image

on:
  push:
    branches: ['main']

jobs:

  prepare_metadata:
    name: Prepare Docker metadata
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      labels: ${{ steps.meta.outputs.labels }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: rishik47/nodejs2-app # your dockerhub repo name

  build_and_push:
    name: Build and Push Docker image
    runs-on: ubuntu-latest
    needs: prepare_metadata   # links the jobs (this creates the arrow)

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ needs.prepare_metadata.outputs.tags }}
          labels: ${{ needs.prepare_metadata.outputs.labels }}
